{% extends "layout.html" %}

{% block title %}Вход{% endblock %}

{% block content %}
    <h2>Вход в систему</h2>
    <form action="/login" method="POST">
        <div>
            <label for="login">Логин:</label>
            <input type="text" id="login" name="login" required>
        </div>
        <div>
            <label for="password">Пароль:</label>
            <input type="password" id="password" name="password" required>
        </div>
        <button type="submit">Войти</button>
        <button type="button" onclick="window.location.href='http://localhost:3000/'">Назад</button>
    </form>
    <br>
    <a href="/register">Регистрация</a>
{% endblock %}
