<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация</title>
</head>
<body>
    <h1>Регистрация</h1>
    <form method="POST">
        <label for="fio">ФИО:</label>
        <input type="text" id="fio" name="fio" required><br>

        <label for="direction">Направление:</label>
        <select id="direction" name="direction" required>
            <option value="" disabled selected>Выберите направление</option>
            {% for direction in directions %}
                <option value="{{ direction.id }}">{{ direction.name }}</option>
            {% endfor %}
        </select><br>

        <label for="group_number">Номер группы:</label>
        <input type="text" id="group_number" name="group_number" required><br>

        <label for="login">Логин:</label>
        <input type="text" id="login" name="login" required><br>

        <label for="password">Пароль:</label>
        <input type="password" id="password" name="password" required><br>

        <label for="role">Роль:</label>
        <select name="role" id="role" required>
            <option value="Cтудент">Студент</option>
            <option value="Администратор">Администратор</option>
            <option value="Специалист дирекции">Специалист дирекции</option>
            <option value="Преподаватель">Преподаватель</option>
        </select><br>

        <button type="submit">Зарегистрироваться</button>
    </form>
</body>
</html>
